.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  width: 50px;
  overflow: hidden;

  .item {
    display: block;
    margin: 0;
    padding: 0;
    width: 50px;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 10px;

    &, &:hover, &:active, &:focus, &:visited {
      text-decoration: node;
      color: blue;
    }
  }
}