.links {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 100px;
  overflow-x: hidden;

  button {
    margin-bottom: 20px;
  }
  .linkWrap {
    position:relative;
    display: flex;
    flex-direction: column;

    .textLink {
      display: block;
      font-size: 20px;
      line-height: 1.2;
      margin-bottom: 5px;
      overflow: hidden;
    }
    .buttonLink {
      display: block;
      margin-bottom: 5px;

      .button {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}


.enter {
  opacity: 0.01;
  transform: translateX(-100%);
  max-height: 0;
}

.enter.enterActive {
  opacity: 1;
  transform: translateX(0);
  max-height: 100px;
  transition: all 500ms ease-out;
}

.leave {
  opacity: 1;
  transform: translateX(0);
  max-height: 100px;
}

.leave.leaveActive {
  opacity: 0.01;
  transform: translateX(-100%);
  max-height: 0px;
  transition: all 500ms ease;
}