.rootWrap {
  display: flex;
  min-height: 100vh;

  .navWrap {
  }
  .headerWrap {
    display: flex;
    flex-direction: column;

    flex-grow: 100;

    .contentWrap {
      position: relative;
      flex-grow: 100;
    }
  }
}