.rootWrap {
  display: flex;
  min-height: 100vh;

  .headerWrap {
    display: flex;
    flex-direction: column;

    flex-grow: 100;

    .contentWrap {
      position: relative;
      flex-grow: 100;
    }
  }
}

#frame {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border: 0px solid transparent;
}
/* #frame {
    -ms-zoom: 0.75;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;
} */